extends layout

block headings
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  center 
    h1 Welcome to ChatEx
    p Just a place to join a chatroom and talk with whoever. No conversations are stored, so chat away.

  .content
    .messages#messageDiv 
      .message.client
        .sender Some Client
        .messageContent Message sent from other client
      .message.user
        .sender Current User
        .messageContent Message sent by the current user.

    .entry 
      input.form-control(type="text", name="cMessage" id="cMessage")
      button.mybtn#sendMessage(type="submit") Send

block footer
  script(src="http://localhost:5000/socket.io/socket.io.js") 
  script(src="/javascripts/client.js") 