.content {
  max-width: 70%;
  width: 70%;
  margin: auto;
  margin-top: 1em;
}

.messages {
  margin-bottom: 4em;
  background-color: #f9f9f9;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.1);
  height: 70vh;
  word-wrap: normal;
  overflow-y: scroll;
}

.entry {
  display: flex;
  justify-content: space-around;
}

.form-control {
  flex: 1;
  padding: 0.3em;
  border-radius: 5px;
  border-color: #9e9e9e;
  /* box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3); */
  border-style: solid;
}

.mybtn {
  width: 120px;
  margin-left: 5px;
  border-radius: 8px;
  background-color: #0d6efd;
  border: none;
  color: #fff;
  padding: 0.8em;
  cursor: pointer;
}

.mybtn:hover {
  background-color: #0d65e9;
}

/* Message stuff  */

.message {
  background-color: #ebe6e6;
  margin-top: 1em;
  padding: 0.8em;
  border-radius: 5px;
  box-shadow: 6px 6px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: small;
  color: #333;
  width: fit-content;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: normal;
}

.sender {
  font-size: small;
}

.messageContent {
  text-indent: 10px;
}

.client {
  background-color: rgb(223, 249, 223);
  margin-left: 0;
}

.user {
  background-color: rgb(220, 220, 252);
  margin-right: 0;
}
